<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Yönetici Listesi</title>
</head>
<body>
<h1>Yönetici Listesi</h1>
<a href="/yonetici/change-password">Şifre Değiştir</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Email</th>
    </tr>
    <tr th:each="y : ${yoneticiler}">
        <td th:text="${y.id}"></td>
        <td th:text="${y.ad}"></td>
        <td th:text="${y.soyad}"></td>
        <td th:text="${y.email}"></td>
    </tr>
</table>
</body>
</html>
